@media (max-width: 575px) {
    
    .container {
        width: 320px !important;
        text-align: center;
    }
    
    /*----------------------------
          NAVBAR PART START
    -----------------------------*/
    .navbar {
        padding: 20px 15px !important;
    }
    
    .navbar-brand img {
        height: 25px;
    }
    
    .navbar-toggler i {
        color: #fff;
    }
    
    .navbar ul {
        text-align: center;
        margin-top: 30px;
    }
    
    .navbar ul li a {
        font-size: 14px;
    }
   /*----------------------------
          NAVBAR PART END
    -----------------------------*/
    
    
   /*----------------------------
          BANNER PART START
    -----------------------------*/
    .banner-overlay {
        padding: 100px 0px 80px;
    }
    
    .banner-img img {
        height: 200px;
        margin-bottom: 50px;
    }
    
    .banner-content h1 {
        font-size: 35px;
    }
    
    .banner-content p {
        width: 100%;
        font-size: 14px;
    }
    
    .buy-btn {
        padding: 12px 18px;
        margin-right: 15px;
    }
    
    .video-btn a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }
   /*----------------------------
          BANNER PART END
    -----------------------------*/
    
    
    /*----------------------------
          QUALITY PART START
    -----------------------------*/
    #qua-part {
        padding: 60px 0px 30px;
    }
    
    .qua-heading h2 {
        font-size: 26px;
    }
    
    .qua-heading {
        margin-bottom: 30px;
    }
    
    .qua-content img {
        width: 50px;
    }
    
    .qua-content h3 {
        font-size: 16px;
    }
    
    .qua-content p {
        margin-bottom: 30px !important;
    }
    /*----------------------------
          QUALITY PART END
    -----------------------------*/
    
    
    /*----------------------------
            BUY PART START
    -----------------------------*/
    #buy-part {
        padding: 60px 0px;
    }
    
    .buy-content {
        display: inherit;
    }
    
    .buy-text {
        width: 100%;
    }
    
    .buy-text p {
        font-size: 14px;
    }
    
    .buy-cart {
        margin-top: 30px;
    }
    /*----------------------------
             BUY PART END
    -----------------------------*/
    
    
    /*----------------------------
             USE PART START
    -----------------------------*/
    #use-part {
        padding: 60px 0px;
    }
    
    .use-child {
        width: 100%;
        padding: 30px 15px;
    }
    
    .use-heading h2 {
        font-size: 26px;
    }
    
    .use-heading {
        margin-bottom: 15px;
    }
    
    .use-img img {
        margin-left: 0px;
        margin-top: 20px;
    }
    /*----------------------------
             USE PART END
    -----------------------------*/
    
    
    /*----------------------------
            FOOTER PART START
    -----------------------------*/
    .footer-feed {
        margin-top: 50px;
    }
    
    .footer-feed ul li h4 {
        width: 100%;
    }
    
    .footer-logo {
        margin-top: 50px;
    }
    
    .footer-logo a img {
        height: 25px;
    }
    /*----------------------------
            FOOTER PART END
    -----------------------------*/
    
}








@media (min-width: 576px) and (max-width: 767px) {
    
    /*----------------------------
          NAVBAR PART START
    -----------------------------*/
    .navbar {
        padding: 20px 15px !important;
    }
    
    .navbar-brand img {
        height: 25px;
    }
    
    .navbar-toggler i {
        color: #fff;
    }
    
    .navbar ul {
        text-align: center;
        margin-top: 30px;
    }
    
    .navbar ul li a {
        font-size: 14px;
    }
   /*----------------------------
          NAVBAR PART END
    -----------------------------*/
    
    
   /*----------------------------
          BANNER PART START
    -----------------------------*/
    .banner-overlay {
        padding: 120px 0px 100px;
    }
    
    .banner-img img {
        height: 300px;
        margin-bottom: 50px;
    }
    
    .banner-content {
        text-align: center;
    }
    
    .banner-btn {
        justify-content: center;
    }
    
    .banner-content h1 {
        font-size: 35px;
    }
    
    .banner-content p {
        width: 100%;
        font-size: 14px;
    }
   /*----------------------------
          BANNER PART END
    -----------------------------*/
    
    
    /*----------------------------
          QUALITY PART START
    -----------------------------*/
    #qua-part {
        padding: 60px 0px 0px;
    }
    
    .qua-heading h2 {
        font-size: 28px;
    }
    
    .qua-content {
        margin-bottom: 50px;
    }
    /*----------------------------
          QUALITY PART END
    -----------------------------*/
    
    
    /*----------------------------
            BUY PART START
    -----------------------------*/
    #buy-part {
        padding: 60px 0px;
    }
    /*----------------------------
             BUY PART END
    -----------------------------*/
    
    
    /*----------------------------
             USE PART START
    -----------------------------*/
    #use-part {
        padding: 60px 0px;
    }
    
    .use-child {
        width: 240px;
        padding: 30px 15px;
        margin: 7px !important;
    }
    
    .use-heading h2 {
        font-size: 28px;
    }
    
    .use-img img {
        margin-left: 0px;
        margin-top: 15px;
    }
    /*----------------------------
             USE PART END
    -----------------------------*/
    
    
    /*----------------------------
            FOOTER PART START
    -----------------------------*/
    .footer-feed ul li h4 {
        width: 100%;
    }
    
    .footer-logo {
        text-align: center;
        margin-top: 50px;
    }
    
    .footer-logo ul {
        justify-content: center;
    }
    /*----------------------------
            FOOTER PART END
    -----------------------------*/
    
}












@media (min-width: 768px) and (max-width: 991px) {
    
    /*----------------------------
          NAVBAR PART START
    -----------------------------*/
    .navbar {
        padding: 20px 15px !important;
    }
    
    .navbar-brand img {
        height: 25px;
    }
    
    .navbar-toggler i {
        color: #fff;
    }
    
    .navbar ul {
        text-align: center;
        margin-top: 30px;
    }
    
    .navbar ul li a {
        font-size: 14px;
    }
   /*----------------------------
          NAVBAR PART END
    -----------------------------*/
    
    
   /*----------------------------
          BANNER PART START
    -----------------------------*/
    .banner-overlay {
        padding: 120px 0px 100px;
    }
    
    .banner-img img {
        width: 100%;
        height: auto;
    }
    
    .banner-btn {
        justify-content: center;
    }
    
    .banner-content h1 {
        font-size: 35px;
    }
    
    .banner-content p {
        width: 100%;
        font-size: 14px;
    }
   /*----------------------------
          BANNER PART END
    -----------------------------*/
    
    
    /*----------------------------
          QUALITY PART START
    -----------------------------*/
    #qua-part {
        padding: 60px 0px 30px;
    }
    
    .qua-heading h2 {
        font-size: 28px;
    }
    
    .qua-content {
        margin-bottom: 30px;
    }
    /*----------------------------
          QUALITY PART END
    -----------------------------*/
    
    
    /*----------------------------
            BUY PART START
    -----------------------------*/
    #buy-part {
        padding: 60px 0px;
    }
    
    .buy-text {
        width: 400px;
    }
    /*----------------------------
             BUY PART END
    -----------------------------*/
    
    
    /*----------------------------
             USE PART START
    -----------------------------*/
    #use-part {
        padding: 60px 0px;
    }
    
    .use-child {
        width: 315px;
    }
    
    .use-heading h2 {
        font-size: 28px;
    }
    
    .use-img {
        text-align: center;
    }
    
    .use-img img {
        width: 500px;
        height: auto;
        margin: 15px auto 0px;
    }
    /*----------------------------
             USE PART END
    -----------------------------*/
    
    
    /*----------------------------
            FOOTER PART START
    -----------------------------*/
    .footer-feed ul li h4 {
        width: 100%;
    }
    
    .footer-logo {
        text-align: center;
        margin-top: 50px;
    }
    
    .footer-logo ul {
        justify-content: center;
    }
    /*----------------------------
            FOOTER PART END
    -----------------------------*/
    
}




@media (min-width: 992px) and (max-width: 1199px) {
    
    .qua-content h3 {
        font-size: 13px;
    }
    
    .use-child {
        width: 250px;
        margin: 7px !important;
        padding: 30px 15px;
    }
    
    .use-img img {
        margin-left: 0px;
    }
    
}

















